
#main{
    background-color: #fffcea!important;
    
}

#title-cardapio{
    margin-top: 40px;
}
#title-cardapio h1, #title-cardapio h5{
    text-align: center;
    color: #896304 !important;
}
#title-cardapio h5{
    opacity: 0.5;
}

.card{
    margin: 40px;
    border-radius: 15px;
}
#label{
    position: absolute;
    background-color: #ff1616;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    font-size: 12px;
    padding: 4px 16px;
    top: -10px;
    left: 37%;
    z-index: 999;
}
.card-header img{
    max-width: 100%;
}
.card-body p{
    text-align: center;
    font-size: 10px;
}
#card-footer{
    text-align: center;
}
#card-footer button{
    background-color: red;
    border: 0;
    position: relative;
    top: 17px;
    border-radius: 10px;
}
#card-title{
    font-size: 20px;
    text-align: center;
}
.fo{
    width: 380px;
}
.fo img{
    max-width: 100%;
}
.modal-exit{
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: last baseline;
    
}
.modal-content{
    overflow: hidden;
    width: 380px;
}

#nav-tab{
    background-color:red;
}
.nav{
    width: 80%;
    margin: 0 auto;
}

#card-image-add{
    padding: 53px;
    position: relative;
    top: 60px;
    cursor: pointer;
}
#card-header-add{
    height: 258.8px;
}
.card-body input {
    width: 100%;
}
 